.text-contato {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.4s ease-in-out;
  padding-left: 14%;
  padding-right: 13%;
  p {
    font-size: 15px;
    line-height: 26px;
    text-align: left;
  }
}

.politicas {
  display: block;
  color: white;
  font-size: 13px;
  text-align: center !important;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .contato-red,
  .contato-lblue,
  .contato-blue {
    img {
      height: 220px;
    }
  }
  .bg-form {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.4s ease-in-out;
    width: 100%;
    background: url("../../dist/img/bg-sobre.png") center no-repeat;
    background-size: cover;
    .red {
      display: block;
      transition: right 0.3s ease-in-out;
      right: -100%;
    }
    .lblue {
      display: none;
      right: -100%;
      transition: right 0.3s ease-in-out;
    }
    .blue {
      display: none;
      right: -100%;
      transition: right 0.3s ease-in-out;
    }
  }
  .text-contato {
    max-height: 1000px;
    padding-top: 80px;
    padding-bottom: 30px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input,
  select,
  textarea {
    outline: none;
    font-size: 14px;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #cecece;
    padding-left: 10px;
    color: #616161;
    ::placeholder {
      color: #616161;
    }
  }

  textarea {
    height: 100px;
    ::placeholder {
      padding: 10px;
    }
  }

  .btn-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    width: 160px;
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    background: #c93446;
  }
  .desk-input {
    margin: 0 auto;
  }
  @media (min-width: map-get($grid-breakpoints,  lg)) {
    .desk-input {
      display: flex;
      justify-content: space-between;
      // margin: 0 auto;

      // span:first-child {
      //   //width: 40%;
      // }
      .text-391,
      .text-399,
      .text-392,
      .text-393,
      .text-432,
      .text-493 {
        width: 48%;
      }
      span {
        //width: 25%;
        // @include make-col(6);
        // padding: 0 15px;
        padding: 0;
        input {
          width: 100% !important;
        }
      }
    }

    input,
    select,
    textarea {
      font-size: 16px;
      height: 63px;
      border-radius: 15px;
      background-color: #ffffff;
      margin-bottom: 30px;
    }
    textarea {
      height: 200px;
    }
    .btn-form {
      font-size: 15px;
      margin: 0 auto;
      background: #2ec665;
    }
  }
}

.testing {
  right: 0% !important;
}

.text-red {
  color: red !important;
  // max-height: 580px;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    max-height: 0;
  }
}
.text-lblue {
  color: #378bcc !important;
  a {
    background-color: #378bcc !important;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    max-height: 0;
  }
}

.text-blue {
  color: #020d79 !important;
  a {
    background-color: #020d79 !important;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    top: 46%;
    max-height: 0;
  }
}
