footer{
  div.wpcf7 .ajax-loader{
    display:none
  }
  .newsletter{
    margin-top:25px;
    margin-bottom:25px;
    color:white;
    h2{
      margin-bottom:35px;
      font-size:16px;
      color:#2ec665;
    }
    .wpcf7-form{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      input,
      select,
      textarea {
        outline: none;
        padding:5px 15px;
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid #cecece;
        padding-left: 10px;
        color: #616161;
        font-size: 14px;
        border-radius: 15px ;
        background-color: #ffffff;
        ::placeholder {
          color: #616161;
        }
      }
      .btn-form{
        padding:5px 25px;
        border-radius: 30px;
    color: white;
    text-transform: uppercase;
    background:#2ec665
      }
    }
    
  }
  .links-footer{

    a{
      color: #fff;

      margin: .5rem 0;
    }
  }

  .letter-input{
    max-width: 225px;
height: 40px;
padding-left: 1rem;
border-radius: 25px;
background: rgba(255,255,255,.1);
border: 0;
font-size: 14px;
color: #fff;
margin: 1rem 0 .2rem;
  }

   .wpcf7-submit{
    background: $green;
    // @extend .rounded-pill;
    padding: 0rem 1rem;
    height: 40px;
    font-size: 15px;
    border: 0;
    text-transform: uppercase;
    color: #fff;
  }
}


.filter-white {
  filter: brightness(0) invert(1) !important;
}