.header-detail {
  width: 75%;
  // max-width: 450px;
  padding: 5px 0;
  border-radius: 0 0 15px 15px;
  background-color: $red;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  position: absolute;
  right: 5%;
}
$color: #000;
@mixin common-span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: $color;
  transition: 0.3s ease-in-out;
}
@mixin common-pseudo {
  content: "";
  position: absolute;
  background-color: $color;
  transition: 0.3s ease-in-out;
}
nav {
  button {
    width: 40px;
    height: 60px;
    margin: 15px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:focus {
      outline: none;
    }

    &.hamburger-close {
      span {
        @include common-span;
        top: -4px;
        transition: 0.3s ease-in-out 0.25s;
        &:before,
        &:after {
          @include common-pseudo;
          left: 0;
          width: 20px;
          height: 2px;
        }
        &:before {
          top: -5px;
        }
        &:after {
          bottom: -5px;
        }
      }
      &.toggle {
        span {
          background-color: transparent;
          transition: 0.3s ease-in-out 0s;
          &:before {
            top: 0;
            transform: rotate(45deg);
          }
          &:after {
            top: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .navbar-toggler {
    outline: none;
  }
  .nav-link {
    font-size: 16px;
    line-height: 20px;
    color: #555c62;
    padding-right: 25px !important;
    @media (max-width: map-get($grid-breakpoints, md)) {
      font-size: 24px;
      line-height: 41px;
      color: #ffffff;
      font-weight: 700;
    }
  }
  .navbar-brand {
    padding: 0;
    padding-left: 20px !important;
    padding-right: 20px !important;
    img {
      width: 125px;
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
      padding-left: 0px;
      padding-right: 0px;
      img {
        width: 70px;
      }
    }
  }
  .navbar-collapse {
    background-color: #da1b41;
    transition: height 0.4s ease-in-out;
    .show {
      height: 600px;
    }
    .navbar-nav {
      padding-left: 20px;
      display: block;
      i {
        color: #fff !important;
        position: absolute;
      }
      .fa-instagram {
        bottom: 3%;
        right: 3%;
      }
      .fa-facebook-f {
        bottom: 3%;
        right: 15%;
      }
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      height: auto;
      background: unset;
      .navbar-nav {
        display: flex;
        padding-left: 0;
      }
    }
  }
}

.chef-menu {
  height: 226px;
}
