.carrosel-banner {
  position: relative;
  margin-bottom: -120px;
  .banner-container {
    .banner {
      background-size: cover !important;
      width: 100%;
      height: 700px !important;
      background-position-x: center !important;

      @media (max-width: map-get($grid-breakpoints, md)) {
        height: 500px !important;
      }
    }
  }
  .dot-banner {
    position: absolute;
    bottom: 40%;
    right: 48.5%;
    button {
      width: 5px !important;
      height: 15px !important;
      border-radius: 50%;
      background: transparent;
      border: 1px solid #fff;
      outline: none;
    }
    .tns-nav-active {
      background: #fff !important;
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
      bottom: 30%;
      right: 43%;
    }
  }
  .banner-caption {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 10%;
    right: 25%;
    @media (max-width: map-get($grid-breakpoints, md)) {
      right: unset;
      top: 1%;
      h1 {
        font-size: 45px !important;
        margin: 0 auto;
        line-height: 53px !important;
        padding-bottom: 20px;
      }
      p {
        font-size: 14px !important;
        line-height: 18px !important;
        padding-bottom: 30px;
      }
    }

    h1 {
      font-size: 70px;
      line-height: 80px;
      font-weight: 400;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 25px;
    }
  }
  .detail-banner {
    background: $red;
    position: relative;
    bottom: 30px;
    font-size: 20px;
    line-height: 28px;
    padding: 25px 15px;
    ul {
      li:last-child {
        list-style: none;
        margin-left: -25px;
      }
    }

    img {
      position: absolute;
      top: -185px;
    }
    h2 {
      font-size: 30px;
      font-weight: 400;
    }
    .btn-cta {
      padding: 12px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      width: 300px;
      margin: 0 auto;
      background: $green;
      color: white;
      max-width: 100%;
      text-transform: uppercase;
      font-size: 17px;
    }
    .border-yellow {
      position: relative;
      border: 2px solid $yellow;
      padding: 20px 44px;
      min-height: 200px;
      display: flex;
      align-items: center;
      background: white;
      color: black;
      h3 {
        font-size: 26px;
      }
      p {
        margin: 0;
      }
      .overlay-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
      }
      .imagem {
        position: absolute;
        right: -25px;
        top: -25px;
        width: 200px;
        height: 200px;
        border-radius: 30px 0 30px 0;
        background: center center no-repeat;
        background-size: 120%;
        box-shadow: -8px 8px 0px 0px $green;
      }
    }
  }
}

.section-market {
  position: relative;
  text-align: center;

  .box-yellow {
    background: $yellow;
    height: 334px;
    div {
      position: relative;
      left: 45%;
    }
    p {
      font-size: 30px;
      line-height: 45px;
      color: #001378;
      font-weight: 700;
    }
    h2 {
      font-size: 35px;
      text-transform: uppercase;
      font-weight: 700;
      color: white;
    }
    .chef-position {
      height: 520px;
      position: absolute;
      bottom: -90px;
      left: 5%;
    }
  }
  .box-marcas {
    margin-top: 90px;
    text-align: center;
    background-color: $gray;
    img {
      @extend .img-fluid;
    }
    .carosel-clientes {
      display: flex;
      align-items: center;
    }
    .tns-nav {
      button {
        width: 14px;
        height: 18px;
        border-radius: 9px;
        border: 1px solid #707070;
        background: white;
        margin: 15px 4px;
        &:nth-child(1) {
          margin-left: 0;
        }
        &:nth-last-child(1) {
          margin-right: 0;
        }
        &.tns-nav-active {
          background: $blue;
        }
      }
    }
  }
  @media (max-width: map-get($grid-breakpoints, md)) {
    padding-bottom: 40px;
    .box-yellow {
      margin: 0 auto;
      position: relative;
      height: 311px;
      div {
        left: 0%;
        bottom: -12%;
        @media (min-width: 700px) and (max-width: 800px) {
          left: 39%;
          top: 34%;
        }
      }
      p {
        font-size: 24px;
        line-height: 33px;
      }
      .chef-position {
        height: 340px;
        bottom: 0px;
        left: -3%;
      }
    }
  }
}
.encontre-distri-home {
  h2 {
    font-weight: bold;
    font-size: 30px;
  }
  .btn-green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 50px;
    text-transform: uppercase;
    padding: 12px !important;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
}
.section-title {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 40px;
  display: block;
  text-align: center;
  @media (max-width: map-get($grid-breakpoints, md)) {
    text-align: left;
    margin-left: 31.5px;
  }
}

.section-products {
  background: url("../../dist/img/bg-home.png") center center no-repeat;
  background-size: cover;
  .product-card-home {
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 100px;
      padding-bottom: 40px;
    }
    .icon {
      height: 45px;
      padding-bottom: 0;
    }
    span {
      font-size: 20px;
      line-height: 30px;
      color: #001378;
      font-weight: 700;
      display: inline;
      text-align: left;
      text-transform: uppercase;
    }

    @media (max-width: map-get($grid-breakpoints, md)) {
      height: 252px;
      img {
        width: 80px;
      }
      span {
        font-size: 24px;
        line-height: 26px;
      }
      .icon {
        height: 30px;
      }
    }
    @media (min-width: 800px) and (max-width: 1100px) {
      width: 250px !important;
    }
    @media (min-width: 700px) and (max-width: 800px) {
      height: 200px;
      width: 200px !important;
      img {
        width: 50px;
      }
      span {
        font-size: 20px;
      }
    }
  }
  .product-card-home:last-child {
    img {
      width: 130px;
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
      img {
        width: 100px;
      }
    }
    @media (min-width: 700px) and (max-width: 800px) {
      img {
        width: 70px;
      }
    }
  }
  .btn-green {
    margin: 0 auto;
    text-transform: uppercase;
    width: 250px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px !important;
  }
}
.receitas-home {
  .receitas-list {
    .receita {
      background: no-repeat right;
      background-size: contain;
      height: 100%;
      .infos {
        padding: 25px 41px 39px;
        color: $red;
        height: 100%;
        font-size: 24px;
        @media (min-width: map-get($grid-breakpoints,md)) {
          max-width: 57%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        h2 {
          font-size: 20px;
          text-transform: uppercase;
        }
        p {
          font-style: italic;
          font-size: 20px;
        }
        .detalhe {
          width: 16px;
          border-top: 2px solid white;
          margin-left: 0;
        }
        .btn-cta {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120px;
          height: 50px;
          background: $green;
          color: white;
          text-decoration: none;
          font-size: 13px;
          font-weight: 700;
          border-radius: 30px;
          padding: 12px !important;
          margin: 0 !important;
        }
      }
    }
  }
}
.tarja {
  justify-content: center;
  display: flex;
  background: #da1b41;
  .assinatura {
    font-size: 28px;
    // background: #da1b41;
    padding: 15px;
    display: inline-block;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
  }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
  .height-custom {
    height: 300px;
  }
}
