// #map{
//     height:735px;
//     margin-bottom:68px;
//     .gm-style .gm-style-iw-t::after{
//         background: transparent;
//     }
//     .gm-style .gm-style-iw-d{
//         overflow: auto !important;
//     }
//     .gm-style .gm-style-iw-c{
//         max-height:258px !important;
//         max-width:350px !important;
//         background-color: $blue;
//         padding:0;
//         border-radius:30px 0 30px 0;
//         .gm-ui-hover-effect{
//             top:5px !important;
//             right:21px !important;
//             color:white;
//             &:after{
//                 content: 'X';
//             }
//             img{
//                 display: none !important;
//             }
//         }

//         .infos{
//             height:258px;
//             width:300px;
//                 font-weight: 700;
//                 padding:35px 49px 5px;
//             h2{
//                 font-size:23px;
//                 font-weight: 700;
//             }
//             p{
//                 color:white;
//                 font-size:16px;
//             }
//             a{
//                 display: block;
//                 color: white;
//                 border-top:1px solid white;
//                 padding:21px 0;
//                 text-align: center;
//                 font-size:12px;
//             }
//         }
//     }
//   }
.page-onde-encontrar {
  .cabecalho {
    padding: 73px 0 0px;
    h2 {
      font-size: 27px;
      text-align: center;
      margin-bottom: 32px;
    }
    .encontre {
      margin-bottom: 70px;
      .input-group {
        background: $red;
        color: white;
        border-radius: 30px;
        padding: 13px;
        input {
          background: transparent;
          border: 0;
        }
        button {
          background: transparent;
          border: 0;
          img {
            filter: brightness(0) invert(1);
          }
        }
        ::placeholder {
          color: white;
        }
      }
    }
    p {
      text-align: center;
      color: $blue;
      font-weight: 700;
      font-size: 1.3rem;
    }
  }
  .distribuidores {
    margin-bottom: 56px;
    .wpsl-search {
      background: $red;
      color: white;
      border-radius: 30px;
    }
    #wpsl-search-wrap {
      form {
        display: flex;
        align-items: center;
        .wpsl-input {
          @extend .col-12;
          label,
          input {
            width: 100%;
          }
          @media (min-width: map-get($grid-breakpoints,lg)) {
            @include make-col(5);
          }
        }
        .wpsl-checkbox-3-columns {
          @extend .col-12;

          li {
            width: auto;
            margin: 0 15px;
          }
          @media (min-width: map-get($grid-breakpoints,lg)) {
            @include make-col(5);
            margin: 0;
          }
        }
        .wpsl-search-btn-wrap {
          @extend .col-12;
          input {
            border: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: url(../img/lupa.svg) no-repeat center center white;
          }
          @media (min-width: map-get($grid-breakpoints,lg)) {
            @include make-col(2);
          }
        }
      }
    }
    .wpsl-infobox {
      background-color: $blue !important;
      border-radius: 30px 0 30px 0;
      color: white !important;
      padding: 20px;
      a {
        color: white;
      }
      &:after {
        border-top: 13px solid $blue;
      }
    }
    #wpsl-stores {
      @extend .box-radius, .p-lg-5;
      background-color: $gray;
      padding: 15px;
      padding-top: 25px;
    }
    h2 {
      color: $green;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 44px;
    }
    #wpsl-wrap #wpsl-result-list li {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      justify-content: center;
      border-top: 1px solid #8b97a2;
      padding: 24px 0 17px;
      border-bottom: 0;
      color: $blue;
      // &.wpsl-no-results-msg{
      // }
      .wpsl-store-location {
        @extend .col-12;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        p {
          @extend .col-12;
          color: $blue;
          strong {
            text-transform: uppercase;
            font-weight: 700;
          }
          a {
            color: $blue;
            &:hover {
              color: $blue;
            }
          }
          .wpsl-country {
            @extend .d-none;
          }
          @media (min-width: map-get($grid-breakpoints,lg)) {
            @include make-col(6);
            margin: 0;
          }
        }
        @media (min-width: map-get($grid-breakpoints,lg)) {
          @include make-col(9);
        }
      }
      .wpsl-direction-wrap {
        @extend .col-12;
        a {
          color: $blue;
          &:hover {
            color: $blue;
          }
        }
        @media (min-width: map-get($grid-breakpoints,lg)) {
          @include make-col(3);
        }
      }

      .social-info {
        a {
          color: $blue;
          font-size: 18px;
          display: block;
          &:hover {
            transform: scale(1);
            color: $blue;
            text-decoration: underline !important;
          }
        }
      }
      .button-zap {
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
  .subtitulo {
    margin-bottom: 53px;
    text-align: center;
    color: $blue;
    font-weight: 700;
    font-size: 21px;
  }
}
