.card-container {
  .bg-cinza-claro {
    margin-top: 25px;
    padding: 22px 45px;
    background: #e4e4e4;
    text-align: left;
    .produto {
      color: #001378;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      p {
        margin: 20px 0;
      }
    }
  }
  .pad-width {
    padding-left: 0;
  }
  .border-radius {
    height: 100%;
    border-radius: 30px 0 30px 0;
    &.show {
      a {
        color: #ffffff !important;
      }
    }
    a {
      padding: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      white-space: nowrap;
      &::after {
        display: none;
      }
      .thumb {
        display: none;
      }
      .icon {
        width: 15px;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    max-width: 1200px;
    .border-radius {
      &:hover {
        transform: scale(1.05);
      }
      a {
        transform: none;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        font-size: 22px;
        .thumb {
          display: block;
          height: 79px;
          width: 79px;
        }
        span {
          max-width: 80%;
        }
        .icon {
          position: absolute;
          right: 10%;
        }
      }
    }
  }

  .dropdown-menu {
    height: 243px;
    background-color: #e4e4e4;
    border-radius: 0 30px 0 30px;
    .dropdown-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        flex-wrap: wrap;

        font-size: 12px;
        line-height: 18px;
        color: #001378;
        font-family: "Ubuntu";
        font-weight: 400;
      }
      .btn-green {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 118px;
        height: 39px;
        font-size: 12px;
        letter-spacing: 0px;
        font-weight: 700;
      }
    }
  }

  .card-green {
    border: 3px solid #2ec665;
    .shp0 {
      fill: $green;
      stroke: $green;
    }
    a {
      color: #2ec665 !important;
    }
    &.show {
      background: #2ec665 !important;
    }
  }

  .card-blue {
    border: 3px solid #001378;
    .shp0 {
      fill: $blue;
      stroke: $blue;
    }
    a {
      color: #001378 !important;
    }
    &.show {
      background: #001378 !important;
    }
  }

  .card-red {
    border: 3px solid #da1b41;
    .shp0 {
      fill: $red;
      stroke: $red;
    }
    a {
      color: #da1b41 !important;
    }
    &.show {
      background: #da1b41 !important;
    }
  }

  .card-yellow {
    border: 3px solid $yellow;
    .shp0 {
      fill: $yellow;
      stroke: $yellow;
    }
    a {
      color: $yellow !important;
    }
    &.show {
      background: $yellow !important;
    }
  }
}
.texto-produtos {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  // background:$yellow;
  // margin-top: 50px;
  div {
    font-size: 1.3rem;
  }
  .chef-position {
    height: 360px;
    position: absolute;
    bottom: 0px;
    right: 10%;
  }
}
.fale-conosco {
  margin: 0 auto;
  background: #001378;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu";
  color: #ffffff;

  span {
    font-size: 37px;
    line-height: 41px;
    font-weight: 400;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 220px;
    height: 51px;
    border-radius: 26px;
    background-color: #da1b41;
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #ffffff;
  }
}
