.page-receitas {
  .bg-blue {
    position: relative;
    color: white;
    margin-top: 100px;
    @media (max-width: 420px) {
      margin-top: 45px;
    }
    @media (min-width: map-get($grid-breakpoints,md)) {
      padding-left: 36px !important;
    }
    img {
      position: absolute;
      top: -113px;
    }
    h2 {
      font-size: 30px;
      font-weight: 400;
    }
  }
  .search-engine {
    margin-top: 41px;

    .input-group {
      padding: 0 30px;
      padding-bottom: 30px;
      border-bottom: 2px solid $blue;

      .search {
        height: auto;
        text-align: left !important;
        padding-left: 3px !important;
        &::placeholder {
          text-align: left;
        }
      }
      .input-group-append {
        .input-group-text {
          background: none;
          border: 0;
          outline: 0;
        }
      }

      ::placeholder,
      input {
        color: $blue;
        text-align: center;
        padding: 16px;
        background: none;
        border: 0;
        font-size: 21px;
        box-shadow: none;
      }
    }
  }
  .receitas-list {
    .receita {
      background: no-repeat right;
      background-size: contain;
      height: 100%;
      .infos {
        padding: 25px 41px 39px;
        color: white;
        height: 100%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: map-get($grid-breakpoints,md)) {
          max-width: 57%;
        }
        h2 {
          font-size: 20px;
          text-transform: uppercase;
        }
        p {
          font-style: italic;
          font-size: 20px;
        }
        .detalhe {
          width: 16px;
          border-top: 2px solid white;
          margin-left: 0;
        }
        .btn-cta {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120px;
          height: 50px;
          padding: 12px !important;
          margin: 0 !important;
          background: $green;
          color: white;
          text-decoration: none;
          font-size: 16px;
          font-weight: 700;
          border-radius: 30px;
          text-transform: uppercase;
        }
      }
      @media (max-width: map-get($grid-breakpoints, lg)) {
        background-image: none !important;
      }
      @media (min-width: 760px) and (max-width: 800px) {
        .infos {
          margin: 0 auto;
        }
      }
    }
  }

  .fale-conosco {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.single-receitas {
  .cabecalho {
    margin-bottom: 22px;
    font-size: 30px;
    h1 {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
    }
  }
  .imagem {
    background: center center no-repeat;
    background-size: 100%;
    height: 166px;
    border-radius: 30px 0 30px 0;
    margin-bottom: 28px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .produtos-usados {
    font-size: 18px;
    .link-produto {
      color: white !important;
      text-decoration: underline !important;
    }
  }
  .tabelas {
    h2 {
      font-size: 18px;
      span {
        text-decoration: underline;
        font-weight: 700;
      }
    }
    table {
      width: 100%;
      .thead,
      .tfoot {
        font-weight: bold;
      }
      .thead,
      .tbody {
        tr {
          border-bottom: 1px solid white;
        }
      }
      tr {
        &:nth-child(2n) {
          background: rgba($color: white, $alpha: 0.26);
        }
      }
    }
  }
  .observacoes {
    font-weight: 300;
  }
  .modo-preparo {
    padding-left: 38px;
    padding-right: 46px;
    font-size: 18px;
    h2 {
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 25px;
    }
    h3 {
      font-size: 18px;
      margin: 0;
      font-weight: 700;
    }
    ul {
      padding-left: 18px;
      margin-bottom: 18px;
    }
    .imagem {
      background: center center no-repeat;
      background-size: 100%;
      height: 166px;
      border-radius: 30px 0 30px 0;
      margin-bottom: 28px;
    }
  }
  .btn-cta {
    width: 150px;
    height: 50px;
    background: $green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 30px auto;
    border-radius: 30px;
    padding: 0 15px;
  }
}
.barradenavegacao {
  padding: 0 15px;
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;

    font-size: 16px;
    li {
      margin: 0 15px;
      a {
        color: $blue;
      }
      .current {
        font-weight: 700;
      }
    }
  }
}

#selectNome,
#sabor,
#selectProdutos {
  width: 100%;
  display: block;
  color: #001378;
  background: none;
  border: 0;
  font-size: 21px;
  box-shadow: none;
  font-family: "Ubuntu" !important;
  padding-left: 10px;
  padding-right: 30px;
  -webkit-appearance: none;
  background: url(../../dist/img/down-arrow.svg) no-repeat;
  background-size: contain;
  background-size: 20px;
  background-position-x: 90%;
  background-position-y: 55%;
  &:focus {
    border: 0;
    outline: 0;
  }
  option {
    font-size: 16px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  #selectNome {
    margin-left: 20px;
  }

  #sabor {
    width: 15%;
    margin-right: -15px !important;
  }

  .input-group {
    padding-bottom: 0 !important;
  }

  #selectNome,
  #sabor,
  #selectProdutos {
    display: flex !important;
    width: 15% !important;
    margin-right: 20px;
  }
}

.recipe-mob {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.mini {
  font-size: 12px;
  position: relative;
  top: -20px;
  display: flex;
  justify-content: center;
}
