.sub-banner {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .sub-title {
    display: block;
    font-size: 21px;
    line-height: 23px;
    color: #f9940d;
    font-weight: 700;
  }
}

.chef-absolute {
  height: 460px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.texto-mercado {
  padding: 35px 15px 0;
  color: $blue;
  text-align: justify;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: map-get($grid-breakpoints, lg )) {
  .sub-banner {
    margin: 0 auto;
    div {
      display: flex;
      align-items: center;
      .sub-title {
        font-size: 40px;
        line-height: 45px;
      }
      img {
        height: 80px;
      }
    }
  }
  .chef-absolute {
    right: 5%;
  }
  .bg-lg-white {
    background: #ffffff !important;
  }
  .m-lg-auto {
    margin: 0 auto;
  }
}

.card-fatores {
  padding-top: 30px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    height: 90px;
    width: 90px;
    padding: 20px;
    border-radius: 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2ec665;
    img {
      height: 40px;
    }
  }
  p {
    padding-left: 25px;
    font-size: 20px;
    line-height: 21px;
    color: #001378;
    font-weight: 400;
  }
  @media (min-width: map-get($grid-breakpoints , lg )) {
    div {
      height: 120px;
      width: 120px;
    }
    p {
      font-size: 28px;
      line-height: 30px;
    }
  }
}

.numeros {
  background: url("../../dist/img/bg-sobre.png") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  strong {
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
  }
  span {
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
  }
  .cards-numeros {
    font-size: 60px;
    line-height: 88px;
    font-weight: 300;
    p {
      font-size: 19px;
      line-height: 20px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 0;
    }
    div:first-child {
      border-radius: 50px 0 50px 0;
      background-color: #ffffff;
      color: $blue;
    }
    div:last-child {
      border-radius: 0 50px 0 50px;
    }
    div {
      width: 242px;
      height: 140px;
      border: 2px solid #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 24px;
        line-height: 34px;
        font-weight: 700;
        margin-bottom: 0;
      }
      span {
        font-size: 42px;
        line-height: 61px;
        font-weight: 700;
      }
    }
  }
  @media (min-width: (map-get($grid-breakpoints, lg))) {
    strong {
      font-size: 30px;
      line-height: 45px;
    }
    span {
      font-size: 31px;
      line-height: 45px;
    }
    .cards-numeros {
      font-size: 100px;
      display: flex;
      align-items: center;
      div {
        width: 346px;
        height: 200px;
        margin-right: 40px;
        margin-left: 40px;
        p {
          font-size: 35px;
          line-height: 50px;
        }
        span {
          font-size: 61px;
          line-height: 88px;
        }
      }
    }
    p {
      font-size: 28px;
      line-height: 30px;
    }
  }
}

.o-futuro {
  text-align: center;
  img {
    height: 205px;
  }
  span {
    display: block;
    font-size: 19px;
    line-height: 20px;
    color: #22d48c;
    font-weight: 700;
  }
  strong {
    font-size: 27px;
    line-height: 32px;
    color: #001378;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    line-height: 26px;
    color: #001378;
    font-family: "Ubuntu";
    font-weight: 400;
    margin-bottom: 0;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    img {
      width: 414px;
      height: 281px;
    }
    span {
      font-size: 31px;
      line-height: 33px;
    }
    strong {
      font-size: 42px;
      line-height: 50px;
    }
    p {
      font-size: 24px;
      line-height: 40px;
      text-align: left;
    }
  }
}

.fontes {
  a {
    padding-bottom: 10px;
    color: #001378;
    display: block;
    text-align: left;
    font-size: 13px;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    margin-top: -100px;
    margin-bottom: 40px;
    max-width: 985px;
    a:hover {
      transform: none;
      opacity: 0.6;
    }
  }
}
