.list-videos{
    .video-item{
        h2{
            font-size: 25px;
            padding: 0 15px;
            text-align: center;
            margin-bottom: 25px;
        }
        padding: 35px 0;
        background-color: white;
        &:nth-child(1){
            background-color: $green;
        }
        &:nth-child(3){
            background-color: $blue;
        }
        &:nth-child(5){
            background-color: $red;
        }
        @media(min-width: map-get($grid-breakpoints, lg)){
            padding: 150px 0;
            h2{
                font-size: 30px;
                margin-bottom: 40px;
            }
            .mejs-container{
                background-color: transparent;
                .mejs-controls{
                    border-bottom-left-radius: 25px;
                    border-bottom-right-radius: 25px;
                }
            }
            video{
                border-radius: 25px;
            }
        }
    }
}
.page-videos{
    .fale-conosco{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.cabecalho{
    p{
        font-size: 18px;
        padding: 0 20px;
        @media(min-width: map-get($grid-breakpoints, lg)){
            font-size: 26px;
        }
    }
}