@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,400&family=Playfair+Display:ital@1&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

$gray: #f2f3f5;
$dgray: #d4d6d8;
$green: #2ec665;

$blue: #001378;

$dblue: #121634;

$red: #da1b41;

$yellow: #f9940d;

.color-blue {
  color: $blue !important;
}

.color-green {
  color: $green !important;
}

.color-red {
  color: $red !important;
}
.color-white {
  color: white !important;
}
.bg-dblue {
  background: $dblue !important;
}
.bg-dgray {
  background: $dgray !important;
}
.bg-blue {
  background: $blue !important;
}

.bg-red {
  background: $red !important;
}

.bg-gray {
  background: $gray !important;
}

.bg-yellow {
  background: $yellow !important;
}

body {
  font-family: "Ubuntu" !important;
  font-weight: 400;
  position: relative;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  height: 250px;
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
  }
  h2 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    h1 {
      font-size: 40px;
      line-height: 42px;
    }
  }
}

.title {
  font-size: 24px;
  line-height: 29px;
  color: #001378;
  font-weight: 700;
  @media (min-width: map-get($grid-breakpoints, lg )) {
    display: block;
    font-size: 30px;
    line-height: 45px;
  }
}

.info-blue {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  span {
    font-size: 37px;
    line-height: 41px;
    font-family: "Ubuntu";
    font-weight: 400;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 274px;
    height: 64px;
    border-radius: 32px;
    background-color: #da1b41;
    font-size: 19px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Ubuntu";
    font-weight: 700;
    text-transform: uppercase;
  }
}

.list {
  list-style: none;
}

.box-radius {
  border-radius: 30px 0 30px 0;
}

.btn-green {
  border-radius: 25px;
  background-color: #2ec665;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0px;
  font-family: "Ubuntu";
  font-weight: 700;
  display: inline-block;
}

a:hover,
.btn-form:hover {
  transform: scale(1.05);
  color: #fff;
}

@media (max-width: 420px) {
  .wpsl-search {
    margin-bottom: 30px !important;
    #wpsl-search-wrap {
      form {
        flex-direction: column;
        .wpsl-search-btn-wrap {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
.ui-widget-content{
  color:$blue;
  border:0;
  background: white;
  .ui-menu-item{
    &:hover{
      color:$blue;
      border: 0;
    }
    .ui-state-active{
      color:$blue;
      border-color: $blue;
      cursor: pointer;
    }
  }
}
@import "contato";
@import "footer";
@import "header";
@import "home";
@import "produtos";
@import "sobre-o-mercado";
@import "receitas";
@import "onde-encontrar";
@import "videos";
